<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="msapplication-tap-highlight" content="no"/>
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-
			scale=1, minimum-scale=1, width=device-width"/>
		<title>Conference Guestbook application</title>
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
